html{
	font-family: 'Droid Sans', sans-serif;
}
body{
	background: #f9e933;
	font-size: 100%;
}
h1,h2,h3,h4,h5{
	font-family: 'Ubuntu', sans-serif;
}
h2{
	font-size: x-large;
	font-weight: bold;
	padding-bottom: 10px;
}
h3{
	font-size: large;
	font-weight: bold;
	padding-top: 50px;
	padding-bottom: 10px;
}
h5{
	padding-bottom: 20px;
	font-weight: bold;
}
header, main, footer {
	min-width: 855px;
}
header.container,main.container,footer.container{
	max-width: 855px;
	margin: auto;
}
header{
	background: white;
	border-bottom: 1px solid gray;
	overflow: auto;
}
header h1{
	font-size: 2.8em;
	padding: 30px;
	padding-left: 200px;
	font-style: italic;
	float: left;
	width: 570px;
	color: gray;
}
header nav{
	font-weight: bold;
	padding-top: 20px;
	padding-right: 50px;
	float: right;
	width: 285px;
}
header nav a{
	color:gray;
	text-decoration: none;
}
main{
	background:white;
	overflow: auto;
	text-align: left;
	padding: 30px;
	padding-left: 200px;
	border-bottom: 1px solid gray;
}
.details{
	float: left;
	width: 570px;
}
.image{
	float: right;
	width: 285px;
	padding-right: 50px;
}
.image img{
	height:auto;
	width:auto;
	max-width: 300px;
	max-height: 300px;
}
footer{
	clear: both;
	overflow: auto;
	padding: 25px;
}
.contact{
	padding-left: 175px;
	float: left;
	width: 570px;
	font-weight: bold;
}
.contact_title{
	color:gray;
	font-style: italic;
}
.sitemap{
	text-decoration: none;
	color: black;
	float: right;
	width: 285px;
	font-weight: bold;
	padding-right: 50px;
}
.sitemap ul li a{
	text-decoration: none;
	padding-bottom: 5px;
	color:gray;
}
.sitemap ul li a:hover{
	text-decoration: underline;
	color:red;
}
.sitemap1{
	float: left;
}
.sitemap2{
	float:right;
	padding-right: 50px;
}
.tabs a span{
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-right: 10px;
	font-weight: bold;
	text-align: center;
	background: #ddd;
	padding:5px;
}
.tabs a span.active{
	background: #eee;
}
.content{
	background: #eee;
	max-width: 855px;
	font-weight: bold;
}
.content ul{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}
.content ul li{
	background-color: white;
	padding: 5px;
	margin: 10px;
}

